## Dataset Diabetes

Este conjunto de datos proviene originalmente del Instituto Nacional de Diabetes y Enfermedades Digestivas y Renales. El objetivo del conjunto de datos es predecir si un paciente tiene o no diabetes, basándose en ciertas medidas diagnósticas incluidas en el conjunto de datos. Se impusieron varias restricciones en la selección de estas instancias de una base de datos más grande. En particular, todos los pacientes aquí son mujeres mayores de 21 años de herencia india Pima.

### Cargar los datos

Abrir el archivo `diabetes.csv` en la carpeta `1_datos`. Analizar su estructura y responder las siguientes preguntas:

*   ¿Cuántas instancias o ejemplos tiene el dataset?
*   ¿Cómo se llama la variable de salida o target? ¿Qué tipo de datos es?
*   ¿Cuántos atributos posee cada instancia o ejemplo?¿Puede detectar datos faltantes o mal registrados en algún atributo?
*   ¿Qué tipo de dato tiene cada atributo?

1) El dataset tiene 768 instancias.

2) La variable de salida se llama "Outcome". Es una variable categorica binaria, donde 1 indica que la persona tiene diabetes y 0 indica que no la tiene. Este tipo de datos es del tipo int.

3) Cada instancia tiene 9 atributos, más la columna "Outcome", lo que hace un total de 10 columnas (sin contar la columna Unnamed: 0 porque no se que significa, parece un tipo indice)
Si, en los atributos BloodPressure, SkinThickness, Insulin y BMI.

4) regnancies: int
Glucose: int
BloodPressure: int
SkinThickness: int
Insulin: int
BMI: float
DiabetesPedigreeFunction: float
Age: int
Outcome: int

In [76]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [77]:
datos = pd.read_csv('./1_datos/diabetes.csv')
datos

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1,1,85,66.0,29.0,0.0,26.6,0.351,31,0
2,2,8,183,64.0,0.0,0.0,23.3,0.672,32,1
3,3,1,89,66.0,23.0,94.0,28.1,0.167,21,0
4,4,0,137,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
763,763,10,101,76.0,48.0,180.0,32.9,0.171,63,0
764,764,2,122,70.0,27.0,0.0,36.8,0.340,27,0
765,765,5,121,72.0,23.0,112.0,26.2,0.245,30,0
766,766,1,126,60.0,0.0,0.0,30.1,0.349,47,1
767,767,1,93,70.0,31.0,0.0,30.4,0.315,23,0

In [78]:
datos= datos.drop(columns="Unnamed: 0") #Borro Unnamed: 0 ya que solo parece ser un ID
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             767 non-null    float64
 3   SkinThickness             756 non-null    float64
 4   Insulin                   763 non-null    float64
 5   BMI                       767 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

In [79]:
faltante = datos.isna().sum() #si hay NA los sume, basicamente un ftable de R
print(faltante,"\n")

datos_faltantes = datos[datos.isnull().any(axis=1)]
datos_faltantes.head() #Algunos datos faltantes

Pregnancies                  0
Glucose                      0
BloodPressure                1
SkinThickness               12
Insulin                      5
BMI                          1
DiabetesPedigreeFunction     0
Age                          0
Outcome                      0
dtype: int64

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
7,10,115,NaN,NaN,NaN,35.3,0.134,29,0
9,8,125,96.0,NaN,NaN,NaN,0.232,54,1
10,4,110,92.0,NaN,NaN,37.6,0.191,30,0
11,10,168,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139,80.0,NaN,NaN,27.1,1.441,57,0

### Detección de valores atípicos y tratamiento de datos faltantes

- Analice con cuidado el rango de valores de los atributos. **¿Nota valores atípicos a simple vista en algún/algunos de los atributos?**

    -  Ejemplo: Un valor de insulina igual a 0 puede considerarse mal registrado o faltante.

- Los valores atípicos que detecte pueden considerarse datos faltantes. Utilice el método [replace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html) de pandas para reemplazarlos por np.NaN.

In [80]:
datos["BMI"].sort_values().head(11)

49      0.0
706     0.0
494     0.0
684     0.0
371     0.0
522     0.0
60      0.0
426     0.0
81      0.0
145     0.0
526    18.2
Name: BMI, dtype: float64

In [81]:
#Reemplazamos los valores por np.NaN 
datos.replace({"SkinThickness":0}, np.nan, inplace=True) # cambio "np.NaN" "a "np.nan" porque: `np.NaN` was removed in the NumPy 2.0 release.
datos.replace({"BMI":0}, np.nan, inplace=True)
datos.replace({"Insulin":0}, np.nan, inplace=True)
datos.replace({"BloodPressure":0}, np.nan, inplace=True) 
# Revisar los primeros datos para confirmar los cambios
datos.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137,40.0,35.0,168.0,43.1,2.288,33,1

Después de realizar el reemplazo, ¿Cuántos datos faltantes presenta cada atributo?

In [82]:
X = datos.drop(columns="Outcome")
y= datos["Outcome"]

data_perdida = datos.isna().sum()
print(data_perdida)

Pregnancies                   0
Glucose                       0
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

### ⚠️
Antes de realizar cualquier procesamiento, no olvide de separar los datos en entrenamiento y prueba. Divida el conjunto de datos en entrenamiento y prueba utilizando train_test_split (con una proporción de 80% entrenamiento y 20% prueba) use 42 como semilla.

### Aclaración sobre la imputación de datos faltantes
Algo a tener en cuenta al momento de imputar datos faltantes es que los atributos pueden tener distribuciones diferentes según la salida o target (con diabetes/sin diabetes). Por ejemplo, una persona sana tendrá un valor de insulina en un rango distinto a una persona con diabetes.

- Implemente un transformer para imputar datos faltantes de forma condicional, dependiendo de la clase (diabetes/no diabetes). Para hacerlo, utilice la media o mediana correspondiente a cada clase.
- Utilice un Pipeline de scikit-learn para realizar la preparación completa de los datos, que incluya la imputación.

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [87]:
# from sklearn.impute import SimpleImputer
# #concatenamos para poder separar por 0 y 1
# df_train = pd.concat([X_train, y_train], axis=1)
# df_sin_diabetes_train = df_train[df_train["Outcome"] == 0]
# df_con_diabetes_train = df_train[df_train["Outcome"] == 1]

# # Imputamos para los sanos en el conjunto de entrenamiento
# imputer_sin_diabetes = SimpleImputer(strategy="mean")
# df_sin_diabetes_imputed_train = df_sin_diabetes_train.copy()
# df_sin_diabetes_imputed_train.iloc[:, :] = imputer_sin_diabetes.fit_transform(df_sin_diabetes_train)

# df_sin_diabetes_imputed_train = df_sin_diabetes_imputed_train.round(1)

# # Imputamos para los diabéticos en el conjunto de entrenamiento
# imputer_con_diabetes = SimpleImputer(strategy="mean")
# df_con_diabetes_imputed_train = df_con_diabetes_train.copy()
# df_con_diabetes_imputed_train.iloc[:, :] = imputer_con_diabetes.fit_transform(df_con_diabetes_train)

# df_con_diabetes_imputed_train = df_con_diabetes_imputed_train.round(1)

# # Juntamos los datasets imputados del conjunto de entrenamiento
# df_imputed_train = pd.concat([df_sin_diabetes_imputed_train, df_con_diabetes_imputed_train])

# # Ahora hacemos lo mismo para el conjunto de prueba
# df_test = pd.concat([X_test, y_test], axis=1)
# df_sin_diabetes_test = df_test[df_test["Outcome"] == 0]
# df_con_diabetes_test = df_test[df_test["Outcome"] == 1]

# # Imputamos para los sanos en el conjunto de prueba
# df_sin_diabetes_imputed_test = df_sin_diabetes_test.copy()
# df_sin_diabetes_imputed_test.iloc[:, :] = imputer_sin_diabetes.transform(df_sin_diabetes_test)

# df_sin_diabetes_imputed_test = df_sin_diabetes_imputed_test.round(1)

# # Imputamos para los diabéticos en el conjunto de prueba
# df_con_diabetes_imputed_test = df_con_diabetes_test.copy()
# df_con_diabetes_imputed_test.iloc[:, :] = imputer_con_diabetes.transform(df_con_diabetes_test)

# df_con_diabetes_imputed_test = df_con_diabetes_imputed_test.round(1)

# # Juntamos los datasets imputados del conjunto de prueba
# df_imputed_test = pd.concat([df_sin_diabetes_imputed_test, df_con_diabetes_imputed_test])

# # Mostramos las primeras 20 filas del conjunto de entrenamiento imputado
# print(df_imputed_train.head(20))

# # Mostramos las primeras 20 filas del conjunto de prueba imputado
# print(df_imputed_test.head(20))

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
60             2       84           70.8           26.8    131.1  30.7
346            1      139           46.0           19.0     83.0  28.7
294            0      161           50.0           26.8    131.1  21.9
340            1      130           70.0           13.0    105.0  25.9
718            1      108           60.0           46.0    178.0  35.5
90             1       80           55.0           26.8    131.1  19.1
377            1       87           60.0           37.0     75.0  37.2
158            2       88           74.0           19.0     53.0  29.0
69             4      146           85.0           27.0    100.0  28.9
260            3      191           68.0           15.0    130.0  30.9
44             7      159           64.0           26.8    131.1  27.4
673            3      123          100.0           35.0    240.0  57.3
286            5      155           84.0           44.0    545.0  38.7
640            0      102           86.0           17.0    105.0  29.3
135            2      125           60.0           20.0    140.0  33.8
745           12      100           84.0           33.0    105.0  30.0
28            13      145           82.0           19.0    110.0  22.2
608            0      152           82.0           39.0    272.0  41.5
583            8      100           76.0           26.8    131.1  38.7
136            0      100           70.0           26.0     50.0  30.8

     DiabetesPedigreeFunction  Age  Outcome
60                        0.3   21        0
346                       0.7   22        0
294                       0.3   65        0
340                       0.5   22        0
718                       0.4   24        0
90                        0.3   21        0
377                       0.5   22        0
158                       0.2   22        0
69                        0.2   27        0
260                       0.3   34        0
44                        0.3   40        0
673                       0.9   22        0
286                       0.6   34        0
640                       0.7   27        0
135                       0.1   31        0
745                       0.5   46        0
28                        0.2   57        0
608                       0.3   27        0
583                       0.2   42        0
136                       0.6   21        0
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
668            6       98           58.0           33.0    190.0  34.0
324            2      112           75.0           32.0    131.1  35.7
624            2      108           64.0           26.8    131.1  30.8
690            8      107           80.0           26.8    131.1  24.6
473            7      136           90.0           26.8    131.1  29.9
204            6      103           72.0           32.0    190.0  37.7
97             1       71           48.0           18.0     76.0  20.4
336            0      117           70.8           26.8    131.1  33.8
568            4      154           72.0           29.0    126.0  31.3
148            5      147           78.0           26.8    131.1  33.7
212            7      179           95.0           31.0    131.1  34.2
265            5       96           74.0           18.0     67.0  33.6
760            2       88           58.0           26.0     16.0  28.4
501            3       84           72.0           32.0    131.1  37.2
457            5       86           68.0           28.0     71.0  30.2
636            5      104           74.0           26.8    131.1  28.8
544            1       88           78.0           29.0     76.0  32.0
86            13      106           72.0           54.0    131.1  36.6
208            1       96           64.0           27.0     87.0  33.2
281           10      129           76.0           28.0    122.0  35.9

     DiabetesPedigreeFunction  Age  Outcome
668                       0.4   43        0
324                       0.1   21        0
624                       0.2   21        0
690                       0.9   34        0
473                       0.2   50        0
204                       0.3   55        0
97                        0.3   22        0
336                       0.9   44        0
568                       0.3   37        0
148                       0.2   65        0
212                       0.2   60        0
265                       1.0   43        0
760                       0.8   22        0
501                       0.3   28        0
457                       0.4   24        0
636                       0.2   48        0
544                       0.4   29        0
86                        0.2   45        0
208                       0.3   21        0
281                       0.3   39        0


- Entrene al menos tres clasificadores distintos.
- Compare el desempeño de los modelos utilizando la métrica F1-score, ya que el dataset tiene un desbalance de clases (más casos sin diabetes que con diabetes). Puede evaluar otras métricas si lo desea. [sklearn metrics](https://scikit-learn.org/stable/modules/model_evaluation.html)